/* style.css */
/* ===== GENERAL STYLING ===== */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f5f2;
  color: #4a4a4a;
  text-align: center;
  line-height: 1.6;
}
.container-buka-undangan-button {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
.icon-button-music {
    display: none;
}
#vinyl-icon {
    width: 50px;
    height: 50px;
}
/* ANIMASI CONTAINER SECTION */
#undangan_dibuka {
    opacity: 0;
    transform: translateY(30px);    /* Awalnya turun 30px */
    display: none;
    visibility: hidden;
    transition: all 0.5s ease-out;  /* Animasi untuk container */
}
#undangan_dibuka.show {
    opacity: 1;
    transform: translateY(0);       /* Muncul ke posisi normal */
    display: block; /* Tampilkan saat class show ada */
    visibility: visible;
}